/* general style */
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
}
body {
  background-color: rgb(255, 242, 242);
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2 {
  color: rgb(32, 64, 86);
  font-weight: bold;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1rem;
}
p {
  color: rgb(74, 74, 74);
  font-size: 1rem;
}
span {
  color: inherit;
  margin: 0;
  text-align: left;
}
pre {
  color: inherit;
  margin-bottom: 0;
}

#main {
  margin-top: 1.25rem;
}

/* cards */
.card {
  height: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 0.6rem;
}
.internal {
  color: inherit;
  display: flex;
  justify-content: center;
}
